p{
    font-size: 20px;
    color: #0e9898;
    margin: 0;
}
.btn {
    padding: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(131, 44, 44);
    color: #fff;

    &:hover {
        background-color: rgb(15, 158, 177);
    }
}